* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(138, 221, 13);
  width: 70%;
  height: 80%;
  background-color: lightpink;
  border-radius: 18px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}


.background-img {
background-image: url("https://www.bing.com/th/id/OIP.yf18abM9vePr3jlKr3PzSQHaE7?w=226&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2");
width: 200vh;
height: 100vh;
background-size: cover;
background-position: center;
position: absolute;
z-index: 0;
}

.emoji {
  font-size: 176px;
}

#changeMood {
  width: 185px;
  height: 94px;
  border-radius: 50%;
  font-size: 25px;
}

#changeMood:hover{
    opacity: 0.5;
    background-color: aqua;
    color: blue;
    font-size: large;
}
